<!DOCTYPE html>
<html lang="en">
   
    <body>
        <main>
            <div>
                
                <form method='post'>
                        {% csrf_token %}
                        {{ form.as_p }}
                    
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>